#possibilities-container {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

.possibilities {
  .flex {
    margin: 0;
    justify-content: center;
  }

  .watch {
    background: url(../images/watch-button.png) no-repeat 0;
    bottom: rem(20);
    cursor: pointer;
    display: inline-block;
    font-size: rem(10);
    font-weight: 300;
    left: rem(24);
    padding: rem(7) 0 rem(7) rem(30);
    position: absolute;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
  }

  .possibilities-title {
    text-align: center;
    margin: 0;
    margin-bottom: rem(40);

    h2 {
      font-size: rem(64);
      font-weight: 300;
      transition: all 0.5s ease-in-out;
      text-transform: uppercase;
      line-height: 1;
      margin: 0;
      margin-bottom: rem(30);
    }

    p {
      font-size: rem(21);
      font-weight: 300;
      text-transform: uppercase;
      margin: 0;
    }
  }
}

.possibilities__wrapper {
  width: $containerWidth;
  // max-height: 60vh;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.possibilities__project {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 50%;


  img.small-photo {
    display: none;
  }

  .possibilities__description {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    transition: all .5s ease-in-out;
    text-transform: uppercase;

    p {
      margin: rem(20) 0;
      font-weight: 300;
      font-size: rem(20);
    }
  }

}

.possibilities__inner-first {
  position: relative;

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.possibilities__inner {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: rem(360);
  width: rem(600);
  position: absolute;
  top: rem(180);
  // transform: translateY(-50%);
  transition: all 0.5s ease-in-out;

  h2 {
    font-size: rem(52);
    font-weight: 300;
    line-height: rem(64);
    text-transform: uppercase;
    margin-top: rem(70);
    margin-bottom: 0;
  }

  .button {
    margin-top: rem(70);
    display: none;

    &.active {
      display: flex;
    }
  }
}


.possibilities__project.open {
  .possibilities__inner {
    top: 0;
    // padding: 15px 22px 22px;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }

  text-transform: uppercase;

  h2 {
    margin-bottom: 0;
    text-align: right;
    transition: all 0.5s ease-in-out;
  }

  .watch {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
  }

  // .button {
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  .possibilities__description {
    // padding: 0 2.8125rem 2.0625rem;
    max-height: rem(315);
    width: 100%;
    opacity: 1;
    transition: max-height opacity 0.5s ease-in-out ease-in-out 0.7s 0.4s;

    p {
      font-weight: 300;
      font-size: rem(20);
    }
  }
}

.possibilities__project {
  &:first-child {
    .possibilities__inner-first {
      margin-right: rem(10);
    }
  }

  &:last-child {
    .possibilities__inner-first {
      margin-left: rem(10);
    }
  }
}

.possibilities__project {
  &:first-child {
    .possibilities__inner {
      left: 0;
      padding-right: rem(30);
    }

    text-align: right;
    // h2 {
    // }

    .possibilities__description {}

    .button {
      margin-left: auto;
    }

    .watch {
      left: auto;
      right: 24px;
      transition: all .5s ease-in-out;
    }
  }

  &:last-child {
    .possibilities__inner {
      right: 0;
      padding-left: rem(30);
    }
  }


  &:first-child.open {

    .possibilities__inner {
      text-align: right;
      padding-right: rem(75);
      border: 5px solid $border-base;
    }

    h2 {
      text-align: right;
    }

  }

  &:last-child.open {

    .possibilities__inner {
      padding-left: rem(75);
      border: 5px solid $border-base;
    }

    h2 {
      text-align: left;
    }
  }
}

@media (max-width: 1500px) {

  html {
    font-size: 80%;
  }

  .possibilities__wrapper {
    width: 1000px;
  }
}

@media (max-width: 1366px) and (max-height: 700px) {

  html {
    font-size: 65%;
  }

  .possibilities__wrapper {
    width: 900px;
  }
}

@media (max-width: 1366px) and (max-height: 600px) {

  .possibilities__wrapper {
    width: 900px;

    .possibilities-title {
      margin-bottom: rem(15);

      h2 {
        margin-bottom: rem(10);
      }

    }
  }
}

@media (max-width: 1150px) {

  html {
    font-size: 60%;
  }

  .possibilities__wrapper {
    width: 800px;
  }
}

@media (max-width: 850px) {
  #possibilities-container {
    height: auto;
    margin: 0 auto;
    margin-top: 45px;
    padding: 0 15px;
  }


  .possibilities__wrapper {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: auto;

    .flex {
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: center;
    }

    .possibilities-title {
      margin-bottom: rem(10);
      h2 {
        margin-bottom: rem(10);
      }
    }

    .possibilities__project {
      overflow: hidden;
      width: 100%;
      height: 320px;

      img.main-photo {
        display: none;
      }

      img.small-photo {
        min-width: 850px;
        min-height: 850px;
        display: block;
      }

      &:first-child {
        margin-bottom: 10px;
      }

      &:first-child,
      &:last-child {
        .possibilities__inner-first {
          height: 100%;
          margin: 0;
        }
      }

      &:first-child.open,
      &:last-child.open {
        .possibilities__inner {
          padding: 0;
        }
      }
    }
    .possibilities__project.open {

      h2 {
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
        transition: all 0.5s ease-in-out;
      }

      .button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
      }

      .possibilities__description {
        max-height: rem(315);
        width: 100%;

        p {
          text-align: center;
        }
        small {
          display: block;
          text-align: center;
        }
      }
    }

    .possibilities__inner {
      // height: rem(360);
      width: 65%;
      height: 80%;
      position: absolute;
      top: 10%;
      // transform: translateY(-50%);
      transition: all 0.5s ease-in-out;

      h2 {
        font-size: rem(52);
        font-weight: 300;
        line-height: rem(64);
        text-transform: uppercase;
        margin-top: rem(70);
        margin-bottom: 0;
      }

      .button {
        margin-top: rem(70);
        display: none;

        &.active {
          display: flex;
        }
      }
    }
  }
}

@media (max-width: 420px) {

  .possibilities__wrapper {
    .possibilities__project {
      img.small-photo {
        min-width: 420px;
        min-height: 420px;
      }
    }

    .possibilities__project.open {
      .possibilities__description {

        p {
          margin: 6px 0;
        }
      }
    }
    .possibilities__inner {
      width: 90%;
      height: 80%;
      top: 10%;
    }
  }
}
