
h2.black {
  position: relative;
  div {
    font-size: 56px;
    line-height: 66px;
    font-weight: 300;
    text-transform: uppercase;
    &.bold {
      font-weight: 500;
    }
  }
  &:before {
    margin-bottom: 18px;
    width: 65px;
    background-color: #000;
    content: "";
    display: block;
    height: 2px;
  }
}

.black {
  color: #000;
}

.flex {
  display: flex;
}

.red {
  color: #ff0c3b;
}

.yellow {
  color: #feb404;
}

.white {
  color: #fff;
}


.button {
  font-size: 12px;
  font-size: .75rem;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  justify-content: center;
  &.normal {
    height: 43px;
    position: relative;
    text-transform: uppercase;
    width: 135px;
    &:after {
      content: "";
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateX(-50%);
      transition: all .5s ease-in-out;
      width: 24px;
      z-index: 4;
    }
    &:hover:after {
      background-color: #feb404;
      transform: translateX(-50%) rotate(-45deg);
      transition: all 0.5s ease-in-out;
    }
  }
  &.white {
    border: 1px solid #fff;
    &:after {
      background-color: #fff;
    }
  }
  &.black {
    border: 1px solid #000;
    &:after {
      background-color: #000;
    }
  }
  &.yellow {
    font-size: 14px;
    font-size: .875rem;
    border: 1px solid #feb404;
    box-shadow: none;
    height: 50px;
    width: 100%;
  }
  &.white-text {
    color: #fff;
  }
  &.small {
    font-weight: 500;
    height: 35px;
    text-transform: capitalize;
    width: 110px;
  }
}

a[href*="facebook.com"] {
  background-image: url(../images/sprite.png);
  background-position: 0 -62px;
  width: 10px;
  height: 20px;
  display: inline-block;
  &:after {
    background: url(../images/facebook-yellow.png) no-repeat 50%;
  }
}

.socials-wrapper a {
  &[href*="instagram.com"] {
    background-image: url(../images/sprite.png);
    background-position: -21px -41px;
    width: 18px;
    height: 19px;
    display: inline-block;
    &:after {
      background: url(../images/insta-icon-yellow.png) no-repeat 50%;
      background-size: contain;
    }
  }
  opacity: 1;
  position: relative;
  transition: all 0.5s ease-in-out;
  &:after {
    background-size: cover;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .5s ease-in-out;
    width: 100%;
  }
  &:hover {
    transition: all 0.5s ease-in-out;
    &:after {
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
  }
}

a {
  &[href*="youtube.com"] {
    background-image: url(../images/sprite.png);
    background-position: -82px 0;
    width: 17px;
    height: 21px;
    display: inline-block;
    &:after {
      background: url(../images/yt-icon-yellow.png) no-repeat 50%;
    }
  }
  &[href*="linkedin.com"] {
    background-image: url(../images/sprite.png);
    background-position: -82px -39px;
    width: 16px;
    height: 15px;
    display: inline-block;
    &:after {
      background: url(../images/linkedin-yellow.png) no-repeat 50%;
    }
  }
}

.read-more {
  margin-top: 1.8125rem;
  padding-left: 1.875rem;
  position: relative;
  &:before {
    width: 20px;
    width: 1.25rem;
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease-in-out;
  }
  span {
    font-size: 12px;
    font-size: .75rem;
    color: #000;
    cursor: pointer;
    display: block;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    span {
      color: #feb404;
      transform: translate(-30px);
      transition: all 0.5s ease-in-out;
    }
    &:before {
      transition: all .5s ease-in-out;
      width: 0;
    }
  }
}

.line {
  height: 45px;
  height: 2.8125rem;
  right: 20px;
  right: 1.25rem;
  background-clip: content-box;
  background-color: #000;
  cursor: pointer;
  padding: 0 5px;
  position: absolute;
  transition: all .5s ease-in-out;
  width: 2px;
  &:hover {
    background-color: #feb404;
    transition: all 0.5s ease-in-out;
  }
  &.yellow {
    background-color: #feb404;
    z-index: 3;
  }
  &.down {
    bottom: 20px;
  }
  &.up {
    top: 20px;
  }
}

.title-of-block {
  font-size: rem(14);
  position: absolute;
  right: 12px;
  text-transform: uppercase;
  font-weight: 700;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  z-index: 3;
}


.input-wrapper {
  position: relative;
  .line-1 {
    background: transparent;
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    i {
      background-color: #feb404;
      height: 100%;
      position: absolute;
      transition: all .7s ease-in-out;
      width: 0;
    }
  }
  input:focus + .line-1 i {
    transition: all .7s ease-in-out;
    width: 100%;
  }
}

.input-wrapper-big {
  position: relative;
  .line-2 {
    background-color: transparent;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    i {
      background-color: #feb404;
      bottom: 0;
      height: 0;
      position: absolute;
      transition: all .7s ease-in-out;
      width: 100%;
    }
  }
  input {
    position: relative;
    transition: all .7s ease-in-out;
    z-index: 5;
  }
  &:hover {
    .line-2 i {
      height: 100%;
      transition: all 0.7s ease-in-out;
    }
    input {
      color: #000;
      transition: all 0.7s ease-in-out;
    }
  }
}

input {
  &[type=text] {
    font-size: 14px;
    font-size: .875rem;
    margin-bottom: 1.875rem;
    padding: .4375rem 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    display: block;
    font-family: $mainFont;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    transition: all .7s ease-in-out;
    width: 100%;
    &:-ms-input-placeholder, &::-moz-placeholder, &::-webkit-input-placeholder, &::-ms-input-placeholder, &::placeholder {
      font-size: 14px;
      font-size: .875rem;
      color: #fff;
      font-weight: 500;
      opacity: 1;
      text-align: left;
      transition: all 0.7s ease-in-out;
    }
    &:focus {
      &:-ms-input-placeholder, &::-moz-placeholder, &::-webkit-input-placeholder, &::-ms-input-placeholder, &::placeholder {
        color: #feb404;
        transition: all 0.7s ease-in-out;
      }
    }
  }
  &[type=email] {
    font-size: 14px;
    font-size: .875rem;
    margin-bottom: 1.875rem;
    padding: .4375rem 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    display: block;
    font-family: $mainFont;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    transition: all .7s ease-in-out;
    width: 100%;
    &:-ms-input-placeholder, &::-moz-placeholder, &::-webkit-input-placeholder, &::-ms-input-placeholder, &::placeholder {
      font-size: 14px;
      font-size: .875rem;
      color: #fff;
      font-weight: 500;
      opacity: 1;
      text-align: left;
      transition: all 0.7s ease-in-out;
    }
    &:focus {
      &:-ms-input-placeholder, &::-moz-placeholder, &::-webkit-input-placeholder, &::-ms-input-placeholder, &::placeholder {
        color: #feb404;
        transition: all 0.7s ease-in-out;
      }
    }
  }
}



.connect {
  padding: 2.6875rem 0 8.75rem;
  height: 100vh;
  overflow: hidden;
  position: relative;
  h3 {
    font-size: 42px;
    font-size: 2.625rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
  > img {
    left: 0;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
  }
  &:after {
    background-color: #000;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 0;
    transition: all .7s ease-in-out;
    width: 100%;
    z-index: 1;
  }
  .top-m {
    margin-top: 150px;
  }
  .text {
    position: relative;
    z-index: 2;
  }
  h2 {
    text-align: center;
  }
  .subscription {
    position: relative;
    input[type=email]:focus + .subcription-button {
      padding-right: 1.875rem;
      margin-bottom: 0;
      opacity: 1;
      transition: all 0.7s ease-in-out;
    }
    .subcription-button {
      font-size: 12px;
      font-size: .75rem;
      padding-right: 1.25rem;
      background: url(../images/right-thin-chevron.png) no-repeat 100%;
      border: 0;
      color: #fff;
      font-weight: 500;
      opacity: .1;
      position: absolute;
      right: 0;
      top: 7px;
      transition: all 0.7s ease-in-out;
    }
  }
  form {
    padding: 0 0.625rem;
  }
  .button {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
  }
  .button-wrapper {
    margin-top: 3.4375rem;
  }
  .footer {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 3;
  }
}

.connect__form {
  max-width: 555px;
  max-width: 34.6875rem;
  padding-top: 3.4375rem;
  margin-left: auto;
  margin-right: auto;
  .yellow {
    margin: 3.1875rem 0;
  }
  label {
    font-size: 14px;
    font-size: .875rem;
    margin-bottom: 1rem;
    display: block;
    font-weight: 500;
  }
}

.footer {
  background-color: transparent;
  padding: 0;
  .container {
    &:after, &:before {
      display: none;
    }
  }
  > .flex {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contacts {
    width: 35%;
    color: #fff;
    div {
      font-size: 14px;
      font-size: .875rem;
      padding: .5625rem 0;
      font-weight: 500;
    }
    span {
      &:before, &:after {
        content: "•";
      }
    }
  }
  .socials-wrapper {
    width: 35%;
    margin: 0 -.75rem;
    justify-content: flex-end;
    align-items: center;
    a {
      margin: 0 0.75rem;
    }
  }
  .development {
    width: 30%;
    font-size: 12px;
    font-size: .75rem;
    color: #fff;
    font-weight: 300;
    .line-hor {
      height: 45px;
      height: 2.8125rem;
      margin: 0 1.25rem;
      background-color: #fff;
      width: 1px;
    }
    img {
      margin-left: 0.3125rem;
    }
    .text {
      margin-right: 0.3125rem;
    }
    &.flex {
      justify-content: center;
      align-items: center;
    }
  }
}

.regist__logo {
  margin-left: auto;
  position: relative;
  z-index: 3;
  top: 0;
  margin-right: 10px;
  img {
    width: 144px;
  }
}


::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(254, 179, 4, 0.2);
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(254, 179, 4, 0.8);
  width: 3px;
  &:hover {
    background: #feb304;
  }
}
.preloader {
  height: 200px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.preloader-wrapper {
  background: #000;
  bottom: 0;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: all .7s ease-in-out;
  width: 100vw;
  z-index: 99;
  &.opacity {
    opacity: 0;
  }
}

#privacy-policy {
  -webkit-appearance: checkbox;
}

.success-form-callback {
  width: auto;
  height: auto;
  padding: 45px 15px;
  display: none;
}

#senk-modal, #senk-modal-overlay {
  display: none;
  position: fixed;
}

.halfsize {
  width: 50%;
}

.fullsize {
  width: 100%;
}
