#video-info-container {
  // width: 68vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  // padding-bottom: 19vh;
  // padding-top: 13vh;
  // display: flex;
  // justify-content: center;

}

.video-info-content {
  position: absolute;
  display: block;
  width: $containerWidth;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%);

  &:hover {

    .line-1 i {
      height: 100%;
      width: 100%;
      transition: width 0.4s ease-out 0s;
    }

    .line-2 i {
      height: 100%;
      width: 100%;
      transition: height 0.4s ease-out 0.4s;
    }

    .line-3 i {
      height: 100%;
      width: 100%;
      transition: width 0.4s ease-out 0.8s;
    }

    .line-4 i {
      height: 100%;
      width: 100%;
      transition: height 0.4s ease-out 1.2s;
    }
  }

  .line-1 {
    background-color: transparent;
    position: absolute;
    transition: all .5s ease-in-out;
    z-index: 2;
    height: 5px;
    width: 100%;
    left: 0;
    top: 0;

    i {
      background-color: $border-base;
      display: block;
      position: absolute;
      height: 100%;
      width: 0;
      left: 0;
      top: 0;
      transition: width 0.4s ease-out 1.2s;
    }
  }

  .line-2 {
    background-color: transparent;
    position: absolute;
    transition: all .5s ease-in-out;
    z-index: 2;
    height: 100%;
    width: 5px;
    top: 0;
    right: 0;

    i {
      background-color: $border-base;
      display: block;
      position: absolute;
      height: 0;
      width: 100%;
      top: 0;
      left: 0;
      transition: height 0.4s ease-out 0.8s;
    }
  }

  .line-3 {
    background-color: transparent;
    position: absolute;
    transition: all .5s ease-in-out;
    z-index: 2;
    height: 5px;
    width: 100%;
    right: 0;
    bottom: 0;

    i {
      background-color: $border-base;
      display: block;
      position: absolute;
      height: 100%;
      width: 0;
      right: 0;
      top: 0;
      transition: width 0.4s ease-out 0.4s;
    }
  }

  .line-4 {
    background-color: transparent;
    position: absolute;
    transition: all .5s ease-in-out;
    z-index: 2;
    height: 100%;
    width: 5px;
    bottom: 0;
    left: 0;

    i {
      background-color: $border-base;
      display: block;
      position: absolute;
      height: 0;
      width: 100%;
      bottom: 0;
      left: 0;
      transition: height 0.4s ease-out 0s;
    }
  }

  img,
  iframe {
    // display: block;
    width: 100%;
    // max-height: 100%;
    // max-width: $containerWidth;
    height: rem(700);
  }
}

.down.arrow_video {
  height: rem(40);
  width: rem(40);
  bottom: rem(40);
  -webkit-animation: bounce 10s infinite;
  animation: bounce 10s infinite;
  background: url(../images/down.png) no-repeat 50%;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  left: calc(50% - 20px);
  z-index: 3;
}

@media (max-width: 1500px) {
  html {
    font-size: 80%;
  }

  .video-info-content {
    width: 1000px;
  }

  .down.arrow_video {
    left: calc(50% - 16px);
  }

  .down.arrow {
    left: calc(50% - 35px - 16px);
  }
}

@media (max-width: 1366px) and (max-height: 650px) {

  .video-info-content {
    width: 800px;
  }
}

@media (max-width: 1150px) {

  .video-info-content {
    width: 800px;
  }

  .down.arrow_video {
    left: calc(50% - 12px);
  }

  .down.arrow {
    left: calc(50%);
  }
}

@media (max-width: 850px) {

  #video-info-container {
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 15px;

  }

  .video-info-content {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: calc(100vw - 30px);
  }
}

@media (max-width: 500px) {
  .video-info-content {

    iframe {
      height: 320px;
    }
  }
}
