$container-padding-s: 60px;


@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }

  .projects__project {
    &:nth-child(2n+1) {
      .projects__inner {
        padding: 92px 30px;
        left: 0;
        width: 100%;
      }

      h2 {
        text-align: right;
      }

      .button {
        margin-left: auto;
      }

      .watch {
        left: auto;
        right: 24px;
        transition: all .5s ease-in-out;
      }
    }

    &:nth-child(2n+2) {
      .projects__inner {
        padding: 92px 30px;
        right: 0;
        width: 100%;
      }
    }

    &:nth-child(2n+2).open {
      h2 {
        text-align: left;
      }
    }

    &:nth-child(2n+1).open {
      h2 {
        text-align: right;
      }
    }
  }
}


@media (max-width: 1366px) {

  .container {
    padding: 0 $container-padding-s;

  }

  .partners {
    .partners__description-wrapper {
      padding-left: 10px;

      h2 {
        div {
          font-size: 44px;
        }

        div.black {
          font-size: 44px;
        }
      }
    }
  }

  .partners__description {
    p {
      margin-top: 90px;
      font-size: 28px;
    }
  }

  .about-us {
    .join {
      margin-top: 40px;
    }

    .title-with-logo {

      margin-bottom: 10px;

      img {
        min-height: 300px;
        width: auto;
      }
    }

    .col.text {
      h2 {
        font-size: 48px;
        font-weight: 300;
      }

      b {
        font-size: 48px;
        font-weight: 500;
      }

      p {
        font-size: 26px;
        line-height: 1.3;
        margin: 0px;
      }

      p.asterisk {
        font-size: 16px;
      }

      ul {
        li {
          font-size: 16px;
        }
      }
    }

    .program-footer {
      margin-top: 30px;

      p {
        font-size: 16px;
      }
    }
  }

  .activity {
    .container {
      padding: 0 $container-padding-s;
    }

    .action__description {
      height: 100px;
      width: 450px;
    }
  }

  .connect {
    .top-m {
      margin-top: 20px;
    }
  }

  .main {
    h1.white {
      font-size: 42px;
      margin-bottom: 15px;
      padding-top: 40px;
    }

    .down.arrow {
      bottom: 40px;
    }
  }

  .main-description {
    font-size: 10px;
    line-height: 1.2;
    margin-bottom: 40px;
  }

  .projects {
    .container {
      padding: 0 $container-padding-s;

      .projects__description.white {
        line-height: 1.2;
      }
    }

    .projects-title {
      margin-bottom: 10px;
    }

    h2.title-big {
      font-size: 48px;
      margin-bottom: 15px;
    }

    p {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 16px;
    }
  }

  .projects__project {
    &:nth-child(2n+2) {
      padding-right: 15px;
      padding-left: 15px;
    }

    &:nth-child(2n+1) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .down.arrow_video {
    margin-top: 30px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 80%;
  }

  .header {
    .header__inner {
      height: 60px;

      .header__logo {
        max-width: 150px;
      }

      .header__logo2 {
        max-width: 160px;
      }

    }
  }

  .main__inner {
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;

    .main-description {
      max-width: 550px;
    }
  }

  .join.button {
    margin: 0 auto;
  }

  .line {
    right: 10px;
  }

  .title-of-block {
    right: -13px;
  }

  .container {
    padding: 0 25px;
  }

  .about-us {
    margin: 25px 0;

    .text-inner {
      padding: 0 34px 0 0;
      padding: 0 2.125rem 0 0;
    }

    .line-1 {
      i {
        height: 100%;
        width: 100%;
        transition: width .4s ease-out 0s;
      }
    }

    .line-2 {
      i {
        height: 100%;
        width: 100%;
        transition: height .4s ease-out .4s;
      }
    }

    .line-3 {
      i {
        height: 100%;
        width: 100%;
        transition: width .4s ease-out .8s;
      }
    }

    .line-4 {
      i {
        height: 100%;
        width: 100%;
        transition: height .4s ease-out 1.2s;
      }
    }
  }

  .activity {
    .action__description {
      height: 150px;
      width: 760px;
    }

    .flex {
      flex-wrap: wrap;

      .action {
        overflow: hidden;
        padding: 10px 0 0;
        width: 100%;

        img {
          min-width: 100%;
        }
      }

      .action__inner-first {
        max-height: 300px;
      }
    }

    .left {
      width: 100%;
    }

    .right {
      width: 100%;
    }
  }

  .connect {
    height: auto;
  }

  .partners {
    margin: 25px 0;

    .line-1 {
      display: none;
    }

    .line-2 {
      display: none;
    }

    .line-3 {
      display: none;
    }

    .line-4 {
      display: none;
    }

    .col.photo {
      display: none;
    }
  }

  .partners__description-wrapper {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .partners__description {
    padding: 0;
    position: relative;
  }

  .partners__text {
    padding: 0;
  }

  .partners__block-border {
    height: 100%;
    top: 0;
    width: 100%;
  }

  .projects {
    padding-bottom: 15px;

    .flex {
      padding: 0;
      flex-wrap: wrap;
    }
  }

  .projects__description {
    margin-top: 10px;
    font-size: 2 14px;
  }

  .projects__inner-first {
    position: static;
  }

  .projects__project {
    height: 450px;
    margin-bottom: 15px;
    position: relative;
    width: 100%;

    img {
      max-width: none;
      min-width: 100%;
    }

    .watch {
      bottom: 15px;
    }

    .button.active {
      bottom: 50px;
      left: 30px;
      position: absolute;
      transform: none;
      transition: all .5s ease-in-out;
    }

    &:nth-child(2n+2) {
      padding: 0;
    }

    &:nth-child(2n+1) {
      padding: 0;
    }
  }

  .projects__project.open {
    .button.active {
      left: 50%;
      transform: translateX(-50%);
      transition: all .5s ease-in-out;
    }

    .projects__inner {
      padding: 25px 35px 60px;
      right: 0;
    }
  }

  .fp-controlArrow {
    bottom: 0;
  }
}

@media (max-width: 990px) {
  .activity {
    .action__description {
      height: 150px;
      width: 560px;
    }
  }
}

@media (max-height: 850px) and (orientation: landscape) {

  .header {
    .header__inner {
      height: 60px;

      .header__logo {
        max-width: 150px;
      }

      .header__logo2 {
        max-width: 160px;
      }

    }
  }

  .join.button {
    margin: 0;
  }

  .main {
    .main__inner {
      left: 50%;
      margin-left: 0;
      padding-right: 30px;
      transform: translate(0, -50%);
      width: 50%;

      h1.white,
      span {
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 10px;
        padding-top: 20px;
      }

      h2 {
        font-size: 18px;
        margin-bottom: 15px;
      }

      .down.arrow {
        bottom: 40px;
      }

      .main-description {
        font-size: 10px;
        max-width: 550px;
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 850px) {
  .main {
    margin-left: 0;

    h1.white {
      font-size: 22px;
      margin-bottom: 15px;
      padding-top: 20px;
    }

    h2.white {
      font-size: 18px;
      margin-bottom: 20px;
      padding-top: 0;
    }

    .join.button {
      margin: 0 auto;
    }

    .down.arrow {
      display: none;
    }

    .socials-wrapper {
      align-items: center;
      bottom: auto;
      display: flex;
      height: 44px;
      padding: 0;
      top: 0;
    }
  }

  .down.arrow_video {
    display: none;
  }

  .main-description {
    margin-bottom: 20px;
  }

  .main__inner {
    left: 50%;
    margin-left: 0;
    margin-top: 15px;
    padding: 15px;
    transform: translate(-50%, -50%);
    width: 320px;

  }

  .projects__project {
    img.main-photo {
      display: none;
    }

    img.small-photo {
      display: block;
    }
  }

  .activity {
    img.main-photo {
      display: none;
    }

    img.small-photo {
      display: block;
    }
  }

  .button.normal {
    height: 35px;
    width: 116px;
  }

  h1 {
    font-size: 22px;
    margin-bottom: 3px;
    padding-top: 12px;

    span {
      font-size: 22px;
    }

    &:before {
      margin-bottom: 12px;
    }
  }

  .line.down {
    display: none;
  }

  .line.up {
    display: none;
  }

  .title-of-block {
    display: none;
  }

  .about-us {
    .col.text {
      h2 {
        font-size: 32px;
        margin-bottom: 10px;
      }

      b {
        font-size: 32px;
        font-weight: 500;
      }
    }

    .program-footer {
      margin-top: 10px;

      p {
        font-size: 13px;
      }
    }

    .join {
      margin-top: 10px;
    }

    .col.text {
      p {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
      }

      width: 100%;
    }

    .col.photo {
      display: none;
    }
  }

  .col.text.program-content {
    ul {
      li {
        font-size: 13px;
      }
    }

    p.asterisk {
      padding-left: 35px;
      font-size: 13px;
    }
  }

  .program-footer {
    margin-top: 10px;

    p {
      font-size: 13px;

      a {
        font-size: 13px;
      }
    }
  }

  .activity {
    .container {
      padding: 15px;
    }

    .action {
      h3 {
        font-size: 24px;
        line-height: 28px;
      }

      &:hover {
        h3 {
          &:before {
            margin-bottom: 10px;
            width: 43px;
          }
        }
      }

      .size-fix {
        h3 {
          font-size: 18px;
        }
      }
    }

    .flex {
      .action {
        height: 300px;
        width: 100%;

        .line-3 {
          bottom: 10px;
        }

        img {
          max-width: none;
          min-height: 100%;
          min-width: 100%;
        }
      }

      .action__inner-first {
        max-height: 300px;
      }
    }

    .action__description {
      height: 150px;
      width: 95%;
      margin-top: 10px;
    }

    .h-fix {
      height: 130px;
    }
  }

  .connect {
    .top-m {
      margin-top: 30px;
    }

    padding-bottom: 0;

    .footer {
      position: relative;
    }

    form {
      padding: 0;
    }

    h3 {
      font-size: 30px;
    }
  }

  .footer {
    padding: 0;
    width: 100%;

    >.flex {
      flex-wrap: wrap;
    }

    .contacts {
      align-items: flex-start;
      display: block;
      justify-content: space-between;
      width: 100%;
      text-align: center;
      margin: 0 auto;

      .mail {
        margin: 0px;
      }

      p {
        margin: 0px;
      }
    }

    .development {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 10px;
      width: 100%;

      .line-hor {
        display: none;
      }

      .rights {
        margin-right: 0;
      }

      >div {
        padding: 10px 0;
        padding: 0.625rem 0;
        text-align: center;
        width: 100%;
      }

      .about-dev {
        justify-content: center;
      }
    }

    .socials-wrapper {
      justify-content: center;
      order: -1;
      padding: 25px 0 15px 15px;
      width: 100%;
    }
  }

  .social {
    margin-top: 20px;
    margin-top: 1.25rem;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .header {
    padding-top: 60px;
    position: fixed;
    z-index: 3;

    .burger+.burger-wrapper {
      label {
        display: block;
      }
    }

    .burger-wrapper {
      display: block;
      z-index: 1000;
    }

    .header__menu {
      background-color: #000;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      bottom: 0;
      display: block;
      height: calc(100vh - 44px);
      left: 0;
      overflow: hidden;
      overflow-scrolling: touch;
      position: fixed;
      top: 44px;
      transform: translateX(-100%);
      transition: all .6s ease-in-out;
      width: 70%;
      z-index: 999;

      li {
        display: block;
        margin: 15px 0;

        a {
          font-size: 16px;
        }
      }
    }

    .burger {
      &:checked~.header__menu {
        transform: translateX(0);
        transition: all .6s ease-in-out;
      }
    }

    .flex {
      flex-wrap: wrap;
    }
  }

  .header__inner {
    justify-content: space-between;
  }

  .regist__logo {
    display: none;
  }

  .header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    order: -1;
    padding: 8px;
    position: static;
    transform: none;
  }

  .projects-modal {
    .logo-wrapper {
      width: 50%;
    }

    .logo {
      min-height: 100px;
      min-height: 6.25rem;
      padding: 45px 35px;
      padding: 2.8125rem 2.1875rem;
    }
  }

  .partners-modal {
    .logo-wrapper {
      width: 50%;
    }

    .logo {
      min-height: 100px;
      min-height: 6.25rem;
      padding: 45px 35px;
      padding: 2.8125rem 2.1875rem;
    }
  }

  .project__video {
    iframe {
      height: 50%;
    }
  }

  .partners {
    h2 {
      div {
        font-size: 32px;
        line-height: 36px;
      }

      div.black {
        font-size: 32px;
        line-height: 36px;
      }
    }
  }

  .partners__description-wrapper {
    h2.black {
      line-height: 1.2;

      div {
        font-size: 32px;
      }

      div.bold {
        font-size: 32px;
      }

      margin-bottom: 10px;
    }

    p {
      font-size: 12px;
      line-height: 1.2;
      margin-top: 10px;
    }
  }

  .projects {
    .container {
      padding: 0 25px;
    }

    h2 {
      font-size: 28px;
      font-size: 1.75rem;
      margin-bottom: 5px;

      br {
        display: none;
      }
    }

    h2.title-big {
      font-size: 32px;
    }

    p {
      font-size: 12px;
    }
  }

  .projects-title {
    margin-bottom: 10px;
  }

  .projects__description {
    margin-top: 10px;
    font-size: 12px;
  }

  .projects__project.open {
    .projects__description {
      padding: 0;
    }
  }
}



@media (max-width: 500px), (max-height: 500px) {

  .header {
    .header__inner {
      .header__logo {
        margin-left: 15px;
        max-width: 87px;
      }

      .header__logo2 {
        margin-right: 15px;
        max-width: 86px;
      }
    }
  }
}
